.activityBar {
	height: 20px;
	padding: 2px;
	margin: 1px;
	background: #F8F8F8;
	border: 1px solid #C5C5C5;
	border-radius: 7px;
	box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.102);
}

.activityBar span {
	display: block;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;
}

.blue span {
	background-color: #34c2e3;
}

.orange span {
	background-color: #fecf23;
	background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
	background-color: #a5df41;
	background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span {
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

@keyframes animate-stripes {
			0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
